@import './base.css';

body {
  display: flex;
  place-items: baseline;
}  
  
#app {
  font-weight: normal;
  display: flex;
  width: 100%;
}

a {
  background: rgb(212, 212, 212);
  text-decoration: none;
  transition: 0.4s;
}

a,
.green {
  color: black;
}

@media (hover: hover) {
  a:hover {
    background-color: #eee;
  }
}

button {
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
  box-shadow: 0px 2px 1px #664;
  font-weight: bold;
  font-size: 14px;
  width: 125px;
  cursor:pointer;
}

button:hover {
  background-color: rgb(244,244,244);
}

button:active {
  background-color: rgb(220,220,220);
  box-shadow: 0px 2px 1px #664 inset;
}